
    .logos {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      padding: 38px 0 0 0;
      padding-bottom: 0px;
    }
   .brandImage {
    width: 60%;
   }
   .logosText{
    font-family: Arial, Helvetica, sans-serif;
     text-align: center;
      color: #f5f5dc;
      font-size: 18px;
      line-height: 1.2;
      //margin: 16px;
      margin-top: 0px;
   }

