<div class="web-parent-container">
    <div class="top-bar">
        <div class="logo-circle">
            <span class="logo-text">U;</span>
        </div>
        <button class="enquiry-btn">Book Session</button>
    </div>

    <div class="top-segment">
        <div class="welcome-part">
            <h1 class="hero-heading">WELCOME, FRIEND</h1>
            <div class="hero-subheading">Stuck in tutorial hell?</div>
            <p class="hero-text">
                You've come to the right place. We make learning the <br /> JavaScript ecosystem fun, approachable, and
                easy…
            </p>
            <button class="hero-btn">SHUT UP & TAKE MY MONEY</button>
        </div>

        <div class="testimonial-stack">
            <div 
            *ngFor="let card of cards; let i = index"
            class="testimonial-card"
            [style.zIndex]="cards.length - i"
            [style.transform]="i === 0 ? 'translateX(0px) rotate(-2deg)' : 'translateX(' + (i * 40) + 'px) rotate(-7deg)'"
            [style.background]="card.color">
            <div class="portrait-bg"></div>
                <img [src]="card.image" class="card-image" alt="profile photo" />

                <div class="card-info">
                    <span class="card-name">{{ card.name }}</span>
                    <br>
                    <span class="card-course">{{ card.course }}</span>
                    <div class="card-rating">
                        <ng-container *ngFor="let _ of getStars(card.rating)">★</ng-container>
                    </div>
                </div>

                <div class="card-text">
                    {{ card.text }}
                </div>
            </div>
        </div>
       

    </div>

    <br/> <br/> <br/> <br/> <br/> <br/> <br/>
    <div class="dev-brain-container">
        <div class="brain">
          <img style="height: 200px;width:300px" src="assets/dev-brain.svg"/>
        </div>
        <br/>
        <h1>
          <span>FEED YOUR</span>
          <br />
          <span>DEVELOPER BRAIN</span>
        </h1>
        <div class="subtitle">
          Our courses are the ultimate brain food
        </div>
        <div class="sub-subtitle">
          (and that learning budget is not going to spend itself)
        </div>
      </div>

      <app-brands></app-brands>
</div>